altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
appdirs==1.4.4
beautifulsoup4==4.12.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
colored==1.4.4
cryptography==40.0.2
frozendict==2.3.8
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
html5lib==1.1
idna==3.4
lxml==4.9.2
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
multitasking==0.0.11
numpy==1.24.3
pandas==2.0.1
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.3
requests==2.30.0
six @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/six-1.15.0-py2.py3-none-any.whl
soupsieve==2.4.1
stock-webscraper==0.1
style==1.1.6
tzdata==2023.3
urllib3==2.0.2
webencodings==0.5.1
yahoofinance==0.0.2
yfinance==0.2.18
